<!-- <h1>DAILY!</h1> -->
<div class="container">
  <!-- GPS Location -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3" align='center'>
      <h3 class="view-header">Latitude: {{dailyData.latitude}}, Longitude: {{dailyData.longitude}}</h3>
      <img ng-src="images/{{dailyData.icon}}.png" alt="{{dailyData.icon}}" >
      <h5 class="view-header">{{dailyData.summary}}</h5>
    </div>
  </div>

  <div class="row" ng-repeat='card in dailyData.daily'>
    <div class="weather-card col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 well">
      <div class="row">
        <div class="col-md-4">
          <img ng-src="images/{{card.icon}}.png" alt="{{card.icon}}">
        </div>
        <div class="col-md-4">
          <h3>Temp. Max: {{card.tempMax}}&deg;</h3>
        </div>
        <div class="col-md-4">
          <h3>Temp. Min: {{card.tempMin}}&deg;</h3>
        </div>
      </div>
      <div class="row">
        <h5>Precipitation Probability: {{card.precipProb * 100 | number:0}} %</h5>
      </div>
      <div class="row"></div>
      <div class="row">Humidity: {{card.humidity * 100 | number:0}} %</div>
    </div>
  </div>
</div>
